@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes marqueImg {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes marqueImgAlt {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes smallScroll {
    0% {
        transform: translateX(20px);
    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translate(0);
    }
}